*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.trae
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/.junie
/cache
Homestead.json
Homestead.yaml
Thumbs.db

/composer.lock
/vendor
/example.php
